body{
    background-color: black;
}
form{
    background-color: yellowgreen;
    margin-top: 10%; margin-left: 20%; margin-right: 20%;
}
.block{
    border: 4px solid orange;
    margin: 15px;
    padding: 5px;
}
.book{
    color: crimson;
    background-color: black;
    margin-left: 25%; margin-right: 32%;
}
.take{
    color: rgb(45, 2, 75)
}